@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"], input[type="email"] {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea {
    height: 140px;
}

button {
    @apply bg-gray-300;
}

button.primary {
    background-color: #FF385C;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

.swipe {
    position: absolute;
}

.dashboard .cardContainer {
    width: 500px;
    height: 650px;
}

.card {
    width: 500px;
    height: 550px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    /*position: absolute;*/
    align-items: center;
    justify-content: center;
    bottom: 0;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;

}

.dashboard .swipe-info {
    /*position: absolute;*/
    bottom: 0;
    padding: 10px;
}

.chat-input{
    width: 50px;
}